
.body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: darkgray;
    background-position: center;
   
}
.div{ 
    background-color: white;
}

.presc-exam{
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
/*Prescribe exam header */
.h2{
    color: black;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
/*Select patient label*/
.selectPatient.label{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.patient-id{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.input[type = text]{
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 12px 40px; 
    text-align: left;

}

/*Check box */
.test-type .div{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;
}

/* Exam content stuff*/
.exam-content .div{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;
}
/*Header for the notes */
.Notes .label{
    color: black;
    position: relative; 
    text-align: justify;
}

/*Notes Area */
.input[type = content]{
    width: 80%;
    padding: 50px 60px 75px 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;
}
