
.body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: grey;
    background-position: center;
   
}
.div{ 
    background-color: white;
}

.label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}


.presc-exam{
    color: aqua;
}
.input[type = text]{
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 12px 40px; 

}
.patient-id{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

.test-type{
    color: aqua;
}


.exam-content{
    color: aqua;
}

.input[type = content]{
    width: 80%;
    padding-right: 12px 60px;
    font-family: Arial, Helvetica, sans-serif;
}