* {
    box-sizing: border-box; 
  }
  
  .doc-predict-container {
    background-color: #ffecb3; 
    border: 2px solid #ffecb3;  
    border-radius: 10px;
    padding: 50px; 
    max-width: 1000px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
    width: 100%; 
  }
  
  .docpredictinner {
    background-color: white; 
    border-radius: 8px;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    width: 100%; 
    margin: 0 auto; 
  }