.name { 
    color: black; 
    font-size: 300px; 
    font-weight: bold;
      }
.email{ 
       color: black; 
       font-size: 300px; 
       font-weight: bold;
     }
   
.tel{ 
       color: black; 
       font-size: 300px; 
       font-weight: bold;
     }
.date{ 
       color: black; 
       font-size: 300px; 
       font-weight: bold;
     }
.doctor{ 
       color: black; 
       font-size: 300px; 
       font-weight: bold;
     }
.password{ 
       color: black; 
       font-size: 300px; 
       font-weight: bold;
     }
     



     
   
